/* GENERAL MODIFICATION */

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@font-face {
    font-family: "Raleway";
    src: url('../fonts/Raleway-VariableFont_wght.woff'),
         url('../fonts/Raleway-Italic-VariableFont_wght.woff') format('woff');
    src: url('../fonts/Raleway-VariableFont_wght.ttf') format('truetype'),
         url('../fonts/Raleway-Italic-VariableFont_wght.ttf') format('truetype');
}

* {
    
    background-color: #f5f5f5;
    margin: 0px;
    padding: 0px;
    width: 1160px;
    z-index: 9;
}

body {
    overflow-x: hidden;
}

header {
    border: solid 0px;
    background-color: #17abb3;
    width: 773px;
    height: 160px;
    position: absolute;
    left: 240px;
}

aside {
    border: solid 0px;
    background-color: #eef1f2;
    width: 232px;
    height: 655px;
    position: absolute;
    top: 160px;
    left: 240px;
}

footer {
    border: solid 0px;
    background-color: #17abb3;
    width: 773px;
    height: 55px;
    position: absolute;
    left: 240px;
    top: 815px;
}


section {
    background-color: #17abb300;
}

div {
    background-color: #17abb300;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Lato", sans-serif;
}

p {
    font-family: "Raleway", serif;
    color: #333333;
}

a {
    background-color: #17abb300;
    font-family: "Raleway", serif;
}

/* HEADER SECTION */


.header_name {
    color: #f5f5f5;
    background-color: #17abb300;
    position: relative;
    top: 22px;
    left: 365px;
}

.header_job {
    color: #f5f5f5;
    background-color: #17abb300;
    font-size: 15px;
    position: relative;
    top: 30px;
    left: 400px;
}

/* HEADER SECTION CONTACT */

.header_mail {
    color: #f5f5f5;
    background-color: #17abb300;
    position: relative;
    left: 390px;
    top: 37px;
    font-size: 10px;
    text-decoration: none;
}

.header_enveloppe_img {
    background-color: #17abb300;
    width: 10px;
    position: relative;
    top: 39px;
    left: 215px;
}

.header_adresse {
    color: #f5f5f5;
    background-color: #17abb300;
    position: relative;
    left: 597px;
    top: 17px;
    font-size: 10px;
    text-decoration: none;
}

.header_maison_img {
    background-color: #17abb300;
    width: 10px;
    position: relative;
    left: 469px;
    top: 19px;
}

.header_telephone {
    color: #f5f5f5;
    background-color: #17abb300;
    position: relative;
    top: 25px;
    left: 390px;
    font-size: 10px;
    text-decoration: none;
}

.header_telephone_img {
    background-color: #17abb300;
    width: 11px;
    position: relative;
    top: 28px;
    left: 297px;
}

.header_permis {
    background-color: #17abb300;
    color: #f5f5f5;
    position: relative;
    top: 11px;
    left: 598px;
    font-size: 11px;
}

.header_voiture_img {
    background-color: #17abb300;
    width: 11px;
    position: relative;
    top: -4px;
    left: 580px;
}

.header_photo {
    width: 94px;
    height: 94px;
    object-fit: cover;
    border: solid 4px #ffffff;
    border-radius: 100px;
    position: relative;
    bottom: 112px;
    left: 66px;
    cursor: zoom-in;
}

/* ASIDE SECTION COMPÉTENCES */

.h1_compétences {
    color: #17abb3;
    background-color: #17abb300;
    font-size: 16px;
    font-weight: 400;
    position: relative;
    top: 34px;
    left: 34px;
}

.hr_compétences {
    color: #e3e3e3;
    width: 165px;
    position: relative;
    top: 40px;
    left: 33px;
}

.html {
    background-color: #17abb300;
    position: relative;
    font-size: 11px;
    top: 54px;
    left:33px;
}

.html_étoile {
    width: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.étoile_1 {
    width: 10px;
    position: relative;
    top: 43px;
    left: 139px;
}

.css{
    background-color: #17abb300;
    position: relative;
    font-size: 11px;
    top: 50px;
    left:34px;
}

.css_étoile {
    width: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.étoile_2 {
    width: 10px;
    position: relative;
    top: 39px;
    left: 139px;
}

.javascript {
    background-color: #17abb300;
    position: relative;
    font-size: 11px;
    top: 46px;
    left:33px;
}

.javascript_étoile {
    width: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.étoile_3 {
    width: 10px;
    position: relative;
    top: 34px;
    left: 139px;
}
.php {
    background-color: #17abb300;
    position: relative;
    font-size: 11px;
    top: 42px;
    left:33px;
}

.php_étoile {
    width: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.étoile_4 {
    width: 10px;
    position: relative;
    top: 31px;
    left: 139px;
}

/* ASIDE SECTION LANGUES */

.h1_langues {
    color: #17abb3;
    background-color: #17abb300;
    font-size: 16px;
    font-weight: 400;
    position: relative;
    top: 53px;
    left: 34px;
}

.hr_langues {
    color: #e3e3e3;
    width: 165px;
    position: relative;
    top: 60px;
    left: 33px;
}

.français {
    background-color: #17abb300;
    font-size: 11px;
    position: relative;
    top: 73px;
    left: 33px;
}

.langue_maternelle {
    background-color: #17abb300;
    position: relative;
    font-size: 11px;
    top: 58px;
    left: 105px;
}

.anglais {
    background-color: #17abb300;
    font-size: 11px;
    position: relative;
    top: 66px;
    left: 33px;
}

.professionnel {
    background-color: #17abb300;
    position: relative;
    font-size: 11px;
    top: 51px;
    left: 132px;
}

/* ASIDE SECTION QUALITÉS */

.h1_qualités {
    background-color: #17abb300;
    color: #17abb3;
    position: relative;
    top: 94px;
    left: 34px;
    font-size: 16px;
    font-weight: 400;
}

.hr_qualités {
    color: #e3e3e3;
    width: 165px;
    position: relative;
    top: 100px;
    left: 33px;
}

.carré {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50px;

}

.carré_1 {
    position: relative;
    top: 119px;
    left: 36px;
    width: 5px;
}

.caractéristique {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 58px;
    position: relative;
    top: 66px;
    left: 49px;

}

.taille_caractéristique {
    background-color: #17abb300;
    font-size: 10px;
}

/* ASIDE SECTION CENTRES D'INTÉRÊT */

.h1_centres_dinteret {
    background-color: #17abb300;
    color: #17abb3;
    position: relative;
    top: 84px;
    left: 34px;
    font-size: 16px;
    font-weight: 400;
}

.hr_centres_dinteret {
    color: #e3e3e3;
    width: 165px;
    position: relative;
    top: 90px;
    left: 33px;
}

.carré_centre_dinteret {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 109px;
}

.carré_2 {
    width: 5px;
    position: relative;
    top: 108px;
    left: 36px;
}

.caractéristique_2 {
    background-color: #17abb300;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 15px;
    font-size: 9px;
    position: relative;
    top: -5px;
    left: 50px;
}

/* MAIN SECTION PROFIL */

.header_profil {
    background-color: #17abb300;
    color: #17abb3;
    font-size: 16px;
    font-weight: 400;
    position: relative;
    top: 193px;
    left: 506px;
}

.hr_profil {
    color: #e3e3e3;
    width: 475px;
    position: relative;
    top: 200px;
    left: 505px;
}

.texte_profil {
    background-color: #17abb300;
    font-size: 11px;
    text-justify: auto;
    position: relative;
    top: 210px;
    left: 506px;
}

/* MAIN SECTION FORMATIONS */

.h1_formations {
    background-color: #17abb300;
    color: #17abb3;
    font-size: 16px;
    font-weight: 400;
    position: relative;
    top: 224px;
    left: 506px;
}

.hr_formations {
    color: #e3e3e3;
    width: 475px;
    position: relative;
    top: 230px;
    left: 505px;
}

.div_dwwm {
    background-color: #0cd4de00;
    font-size: 10px;
    position: relative;
    top: 244px;
    left: 506px;
    width: 475px;
    height: 40px;
}

.div_dwwm:hover {
    background-color: #e3e3e3;
    transition: all 0.2s ease-in-out;
}
.div_dwwm_2 {
    background-color: #0cd4de00;
    width: 4px;
    height: 40px;
}
.div_dwwm_2:hover {
    background-color: #17abb3;
    transition: all 0.2s ease-in-out;
}

.titre_dwwm {
    background-color: #17abb300;
    font-size: 10px;
    position: relative;
    top: 7px;
    left: 7px;
}

.p_dwwm {
    background-color: #17abb300;
    font-size: 10px;
    position: relative;
    top: 7px;
    left: 7px;
    font-style: italic;
}

.date_dwwm {
    background-color: #17abb300;
    color: #17abb3;
    position: relative;
    bottom: 15px;
    left: 418px;
    font-size: 11px;
}

.div_mc_barman {
    background-color: #0cd4de00;
    font-size: 10px;
    position: relative;
    top: 244px;
    left: 506px;
    width: 475px;
    height: 40px;
}

.div_mc_barman:hover {
    background-color: #e3e3e3;
    transition: all 0.2s ease-in-out;
}

.div_mc_barman_2{
    background-color: #0cd4de00;
    width: 4px;
    height: 40px;
}

.div_mc_barman_2:hover {
    background-color: #17abb3;
    transition: all 0.2s ease-in-out;
}

.titre_mc_barman{
    background-color: #17abb300;
    font-size: 11px;
    position: relative;
    top: 9px;
    left: 7px;
}

.belliard {
    background-color: #17abb300;
    font-size: 8px;
    position: relative;
    top: 9px;
    left: 7px;
    font-style: italic;
}

.date_mc_barman {
    background-color: #17abb300;
    color: #17abb3;
    font-size: 11px;
    position: relative;
    bottom: 15px;
    left: 336px;
}

.div_cap_restaurant {
    background-color: #0cd4de00;
    font-size: 10px;
    position: relative;
    top: 244px;
    left: 506px;
    width: 475px;
    height: 40px;
}

.div_cap_restaurant:hover {
    background-color: #e3e3e3;
    transition: all 0.2s ease-in-out;
}

.div_cap_restaurant_2 {
    background-color: #0cd4de00;
    width: 4px;
    height: 40px;
}
.div_cap_restaurant_2:hover {
    background-color: #17abb3;
    transition: all 0.2s ease-in-out;
}

.cap_restaurant{
    background-color: #17abb300;
    font-size: 10px;
    position: relative;
    top: 10px;
    left: 7px;
}

.cfa_mederic {
    background-color: #17abb300;
    font-size: 8px;
    position: relative;
    top: 10px;
    left: 7px;
    font-style: italic;
}

.date_cap_restaurant {
    background-color: #17abb300;
    color: #17abb3;
    font-size: 11px;
    position: relative;
    bottom: 14px;
    left: 331px;
}

.exp_pro {
    background-color: #17abb300;
    color: #17abb3;
    font-size: 15px;
    position: relative;
    top: 244px;
    left: 506px;
}

.hr_exp_pro {
    color: #e3e3e3;
    width: 475px;
    position: relative;
    top: 251px;
    left: 505px;
}

.div_m_dhotel_freelance {
    background-color: #0cd4de00;
    font-size: 10px;
    position: relative;
    top: 257px;
    left: 506px;
    width: 475px;
    height: 40px;
}

.div_m_dhotel_freelance:hover {
    background-color: #e3e3e3;
    transition: all 0.2s ease-in-out;
}

.div_m_dhotel_freelance_2 {
    background-color: #0cd4de00;
    width: 4px;
    height: 40px;
}

.div_m_dhotel_freelance_2:hover {
    background-color: #17abb3;
    transition: all 0.2s ease-in-out;
}

.m_dhotel_freelance {
    background-color: #17abb300;
    font-size: 10px;
    position: relative;
    top: 8px;
    left: 9px;
}

.auto_entrepreneur {
    background-color: #17abb300;
    font-size: 10px;
    position: relative;
    top: 8px;
    left: 9px;
    font-style: italic;
}

.date_m_dhotel_freelance {
    background-color: #17abb300;
    color: #17abb3;
    font-size: 11px;
    position: relative;
    bottom: 15px;
    left: 355px;
    font-family: "raleway", serif;
}

.div_responsable_salle_matin{
    background-color: #0cd4de00;
    font-size: 10px;
    position: relative;
    top: 257px;
    left: 506px;
    width: 475px;
    height: 40px;
}

.div_responsable_salle_matin:hover {
    background-color: #e3e3e3;
    transition: all 0.2s ease-in-out;
}

.div_responsable_salle_matin_2 {
    background-color: #0cd4de00;
    width: 4px;
    height: 40px;
}

.div_responsable_salle_matin_2:hover {
    background-color: #17abb3;
    transition: all 0.2s ease-in-out;
}

.responsable {
    background-color: #17abb300;
    font-size: 10px;
    position: relative;
    top: 10px;
    left: 9px;
}

.cafe {
    background-color: #17abb300;
    font-size: 10px;
    position: relative;
    top: 9px;
    left: 9px;
}

.date_responsable {
    background-color: #17abb300;
    color: #17abb3;
    font-size: 11px;
    position: relative;
    bottom: 15px;
    left: 368px;
}

.div_m_dhotel_anne {
    background-color: #0cd4de00;
    font-size: 10px;
    position: relative;
    top: 257px;
    left: 506px;
    width: 475px;
    height: 40px;
}

.div_m_dhotel_anne:hover {
    background-color: #e3e3e3;
    transition: all 0.2s ease-in-out;
}

.div_m_dhotel_anne_2 {
    background-color: #0cd4de00;
    width: 4px;
    height: 40px;
}

.div_m_dhotel_anne_2:hover {
    background-color: #17abb3;
    transition: all 0.2s ease-in-out;
}

.m_dhotel_anne {
    background-color: #17abb300;
    font-size: 10px;
    position: relative;
    top: 10px;
    left: 9px;
}

.anne {
    background-color: #17abb300;
    font-size: 10px;
    position: relative;
    top: 9px;
    left: 9px;
}

.date_m_dhotel_anne {
    background-color: #17abb300;
    color: #17abb3;
    font-size: 11px;
    position: relative;
    bottom: 15px;
    left: 354px;
}

.div_assistant_m_dhotel_boutary {
    background-color: #0cd4de00;
    font-size: 10px;
    position: relative;
    top: 257px;
    left: 506px;
    width: 475px;
    height: 40px;
}

.div_assistant_m_dhotel_boutary:hover {
    background-color: #e3e3e3;
    transition: all 0.2s ease-in-out;
}

.div_assistant_m_dhotel_boutary_2 {
    background-color: #0cd4de00;
    width: 4px;
    height: 40px;
}

.div_assistant_m_dhotel_boutary_2:hover {
    background-color: #17abb3;
    transition: all 0.2s ease-in-out;
}

.assistant_m_dhotel_boutary {
    background-color: #17abb300;
    font-size: 10px;
    position: relative;
    top: 10px;
    left: 9px;
}

.boutary {
    background-color: #17abb300;
    font-size: 10px;
    position: relative;
    top: 9px;
    left: 9px;
}

.date_assistant_m_dhotel_boutary {
    background-color: #17abb300;
    color: #17abb3;
    font-size: 11px;
    position: relative;
    bottom: 15px;
    left: 358px;
    font-family: "raleway", serif;
}

.div_assistant_m_dhotel_les_fous {
    background-color: #0cd4de00;
    font-size: 10px;
    position: relative;
    top: 257px;
    left: 506px;
    width: 475px;
    height: 40px;
}

.div_assistant_m_dhotel_les_fous:hover {
    background-color: #e3e3e3;
    transition: all 0.2s ease-in-out;
}

.div_assistant_m_dhotel_les_fous_2 {
    background-color: #0cd4de00;
    width: 4px;
    height: 40px;
}

.div_assistant_m_dhotel_les_fous_2:hover {
    background-color: #17abb3;
    transition: all 0.2s ease-in-out;
}

.assistant_m_dhotel_les_fous {
    background-color: #0cd4de00;
    font-size: 10px;
    position: relative;
    top: 10px;
    left: 9px;
}

.les_fous {
    background-color: #17abb300;
    font-size: 10px;
    position: relative;
    top: 9px;
    left: 9px;
}

.date_assistant_resp {
    background-color: #17abb300;
    color: #17abb3;
    font-size: 11px;
    position: relative;
    bottom: 15px;
    left: 333px;
}

.div_chef_de_rang {
    background-color: #0cd4de00;
    font-size: 10px;
    position: relative;
    top: 257px;
    left: 506px;
    width: 475px;
    height: 40px;
}

.div_chef_de_rang:hover {
    background-color: #e3e3e3;
    transition: all 0.2s ease-in-out;
}

.div_chef_de_rang_2 {
    background-color: #0cd4de00;
    width: 4px;
    height: 40px;
}

.div_chef_de_rang_2:hover {
    background-color: #17abb3;
    transition: all 0.2s ease-in-out;
}

.chef_de_rang {
    background-color: #17abb300;
    font-size: 10px;
    position: relative;
    top: 10px;
    left: 9px;
}

.les_fous_chef {
    background-color: #17abb300;
    font-size: 10px;
    position: relative;
    top: 10px;
    left: 9px;
}

.date_les_fous {
    background-color: #17abb300;
    color: #17abb3;
    font-size: 11px;
    position: relative;
    bottom: 15px;
    left: 354px;
}

.div_background {
    background-color: #ffffff;
    position: relative;
    bottom: 394px;
    left: 471px;
    width: 542px;
    height: 655px;
    z-index: 5;
}

/* FOOTER SECTION */

.social_icons {
    background-color: #17abb300;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80px;
    position: relative;
    top: 10px;
    left: 20px;
}

.social_icon:hover {
    background-color: #0e6f75;
    transition: all 0.2s ease-in-out;
}

.social_icon {
    background-color: #17abb300;
    width: 17px;
    position: relative;
    left: 360px;
    top: 6px;
}

.small_footer {
    background-color: #17abb300;
    color: #f5f5f5;
    font-size: 12px;
    position: relative;
    top: 13px;
    left: 340px;
    font-family: "raleway", serif;
}